body{
    font-family: 'Bitter', sans-serif;
    font: size 14px;
    color:#191312;
    background:#DFD9AB;
}


h1{
    text-align: center;
}

h2{
    text-align: center;
}

.container{
    width:540px;
    margin:40px auto;
    overflow:auto;
}

.slider-inner{
    width:500px;
    height:300px;
    position:relative;
    overflow:hidden;
    float:left;
    padding:3px;
    border:#883E24 solid 10px;
}

.slider-inner img{
    display:none;
    width:500px;
    height:300px;
}

.slider-inner img.active{
    display:inline-block;
}

.prev,.next{
    float:left;
    margin-top:130px;
    cursor:pointer;
}

.prev{
    position:absolute;
    margin-right:-45px;
    z-index:100;
}

.next{
    position:absolute;
    margin-left:-45px;
    z-index:100;
}


.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}





/*phones, 768px and up) */

@media (min-width: 768px) {
body {
    background-color:#DFD9AB
    font-size:16px
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
body {
    background-color:#883E24
    font-size:17px
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
body { 
    background-color:#7E0000
    font-size:18px
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
body {
    background-color:#491000
    font-size:19px
    }
}
                            

